@using HairSalon.Models;
@using HairSalon.ViewModels;
@model StylistDetailsModel

@if (Model.CurrentStylistClients.Count > 0)
{
  <h3>Clients</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Edit<th>
      </tr>
    </thead>
    <tbody>
      @foreach(Client client in Model.CurrentStylistClients)
      {
        <tr>
          <td>@client.Name</td>
          <td>@client.Phone</td>
          <td>
            <button class="btn btn-info update-client-button" type="button" data-client-id="@client.Id">Update</button>
            <button class="btn btn-danger remove-client-button" type="button" data-client-id="@client.Id">Remove</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <h3>@Model.CurrentStylist.Name has no clients...</h3>
}

@Html.Partial("StylistDetails/RemoveClientConfirmationModal")
<script>
  $(document).ready(function() {
    $(".remove-client-button").click(function() {
      var clientId = $(this).attr("data-client-id");
      var postRoute = "/stylists/@Model.CurrentStylist.Id/clients/remove/" + clientId;
      $("#client-remove-confirmation-modal form").attr("action", postRoute);
      $("#client-remove-confirmation-modal").modal("show");
    });
  });
</script>

@Html.Partial("StylistDetails/UpdateClientModal")
<script>
  $(document).ready(function() {
    $(".update-client-button").click(function() {
      var clientId = $(this).attr("data-client-id");
      var postRoute = "/stylists/@Model.CurrentStylist.Id/clients/update/" + clientId;
      $("#client-update-modal form").attr("action", postRoute);
      $("#client-update-modal").modal("show");
    });
  });
</script>
